

<!--- 

AUTHOR: Charles Robertson
COMPANY: CDESIGN
DATE: 04.2013
DESCRIPTION: utils functions 

--->


<cfcomponent displayname="Utils" hint="component description: performs utils functions">


  <cfinclude template="../functions.cfm">

    
</cfcomponent>