<!---<cfoutput>--->

<!---request.appreloadkey: #request.appreloadkey#<br />
  request.appreloadValidated: #request.appreloadValidated#<br />
  
  <cfabort />--->
  
  <!---<cfhttp url="http://localhost:8500/community.establishmindfulness/material/ngMat02/src/assets/cfm/rest/api/v1/index.cfm/comment/134" method="delete" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..IJld3L1FUHp_ndHp.jD8WbuEDLCBLtzdn4eLmifJjsBTOsm1Tf_KGfimsQoCvkKwNynt2kQ09q1p54-l825IrphT0H7tt8m1jr1UG6GtBrEO3T6XLMqbdpl5NowI-M2bGRMn8BZenLlfK5wYqJIlXHDBN9KTT_RuQJS0VBnihpZQZl_Vl-6u1oB7hO7wjw-TsrRGfJeyqxKfxhXJzGeZ_A9B5uOT3qobYoudtVPg5ijAw9rQ4UTt2YqPOHSte-W94YvRBPnV2-Wh94wx_WyW5kPUv7-93Pgj8eFSkbpqAzH9Oxvcgx7w-xqrJWR9xRhVs-oQrMcl24XeYAmKvROF-HIapJ7FWCY3r3gmj8vyCJkErC6ypLvcceRaDu5R39xWTt7GRaZY5_IqR-Aey31ADZPep3766OMXtbcEjU1Z9xt04q91zPuDvzreqZ3XQWF745870V4m2QMHTJUJ7bH02dBPX0Kg3zvo8aYZ-XsMpywCmWJuRc0Kij3SFKgRuG8MKVCBN5zjI8gYU0cevyhsYtYTvjmsI8fQWc6eD-tc.71EZJXQgjk1Ey9_VpPSkAQ" />
    <cfhttpparam type="header" name="userToken" value="e972341c-b08e-44c3-9667-42834e32e119" />
  </cfhttp>--->
  
  <!---<cfhttp url="https://community.establishmindfulness.com/assets/cfm/rest/api/v1/comment/51" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..r-sREPR-JFh0GtIO.Dpm60GnPierm3HZ4kxMXLO1mqw719mrI1Jl0MGLTYE1YdH8bGL6oFkgo1CA1rbt9WCVeP6-HHJ7ZeD_VyQ-rjH31Hg2RAYwUK5Qg4oC5WMhE6ndS62NJBK99HbqOkVockdT3gv7jsVq8obWD3xfn9XNdecsIPXoEUKx9_qfsKpiNN3uHFuaJYq_3rwuJcuGS-piA9YUJbz3lywOVql8i1EkQzfaDDsB8fVl9zoerjis3pnhjxc2PCX2Uq1yLaDh4JKjEVsfWvgvhwTFA0u8Nig7a0ynqJ9fA9h5IWwo1TmWnkMphFpFVa-xyfT9iSAAsXtzIWGUhm3zfy7YS7Uq1vXkYzj6Vo-CeIwLVyjOlpcVN9Vf2-8Yf2cvXNtWCeEIobSO9j5ijBoxAtLS-buMuRzS__OFV088SYnXjsrFX4Z7anmYhc5_Ojl3oVy9Z7hl-4WuVD6EjVs0h90Rngoq9EHN4oIC1kwkVyz6st_LK9mWyhE04cl1GarMAF4p-aaJAEokMFJmnrlSWZ6qo2XpWRjkKMwxGFeNnonfIQi4HNQE6dF7wZxBRaCiye1jrCvhLGeKd-URmtQ.n38BhsrL8GgmNkT1-j60qw" />
    <cfhttpparam type="header" name="userToken" value="1cc4192a-e090-462f-86d4-c3ecdc5758d5" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="DELETE" />
  </cfhttp>--->
  
  <!---<cfhttp url="http://localhost:8500/community.establishmindfulness/material/ngMat02/src/assets/cfm/rest/api/v1/index.cfm/image/b01fd6e5-d776-bd93-d819a286238e6f50" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="userToken" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="imagePath" value="categories/objects/seascape" />
    <cfhttpparam type="header" name="name" value="Test name" />
    <cfhttpparam type="header" name="title" value="Test title" />
    <cfhttpparam type="header" name="description" value="Test descriptione" />
    <cfhttpparam type="header" name="tags" value='[{"display":"test tag 1","value":"test tag 1"},{"display":"test tag 2","value":"test tag 2"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]' />
    <cfhttpparam type="header" name="Content-Type" value="application/json" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="PUT" />
    <cfhttpparam type="body" name="article" value='#ToBinary(ToBase64(SerializeJson({"article":"Test article"})))#' />
  </cfhttp>--->
  
  <!---<cfhttp url="http://localhost:8500/community.establishmindfulness/material/ngMat02/src/assets/cfm/rest/api/v1/index.cfm/image/b01fd6e5-d776-bd93-d819a286238e6f50" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="userToken" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="X-HTTP-METHOD-OVERRIDE" value="DELETE" />
  </cfhttp>--->

      
  <!---<cffile action="readBinary" file="C:\Users\Charles Robertson\Desktop\images\header.jpg" variable="aBinaryObj">
  <cfset  body = aBinaryObj>
    <cfhttp url="http://localhost:8500/community.establishmindfulness/material/ngMat02/src/assets/cfm/rest/api/v1/index.cfm/image/0" method="post" result="result" timeout="30">
    <cfhttpparam type="header" name="Authorization" value="Bearer eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..zAbNxDkFlZPvwyJR.nGe0bqEGqA8xrs3wg2hYByEMbNUSeuhGq7Q-_o0GefMKyv6Gz_y_f6dpQz9WY826v80_dAcHLxzw3Mkw6S9n_bWEM0H2oIQPm-jxgUBUdwl8vZ3SY5g447BOwpXoNHGLYrpsMZV4rmWRUiTk3KHJyXbHxHsk3o8IDjePUqGqNklgkl9MNEIK8IJmTlEZ-iZtO9eWjTpSWyDFJwzlbW2h5UV9oiu-yQ3qVnpFIw3jYWtwMBywFUcQ1LQiqXcTxNKA7OMGpcuislKxVaRDX3quk8fBAtXrM9gl7S9ZRl5MtMsJF84yG4rXBcUR5kRAczp-5Nkeavx5brQsnKvv_exIHQAlydRceqBNNyMXp-BDXJtgPGFjhCFLQ9zcRD50MTb6bZtUQOU0JZG_l4DEdS0yJyfRgzhnlqFN1T_7k8iXd0JKNbBE2bcokNQ3denUu6NEfjBWQoBAC-flXLlRIEbzbDdLULokTRh0KNhMN4JLgXQSSIaog4eEl_oG4mmGo0UyltTlMRTMXqr17_4KFG32fl8.rKV3LPCG3DLOyz000s0JpQ" />
    <cfhttpparam type="header" name="user-token" value="163a996d-a742-4dcd-aeda-ef1ee2e46d72" />
    <cfhttpparam type="header" name="file-name" value="header.jpg" />
    <cfhttpparam type="header" name="image-path" value="/categories/objects/seascape" />
    <cfhttpparam type="header" name="name" value="Test name" />
    <cfhttpparam type="header" name="title" value="Test title" />
    <cfhttpparam type="header" name="description" value="Test description" />
    <cfhttpparam type="header" name="article" value="" />
    <cfhttpparam type="header" name="tags" value='[{"display":"test tag 1","value":"test tag 1"},{"display":"test tag 2","value":"test tag 2"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]' />
    <cfhttpparam type="header" name="publish-article-date" value="2019-01-31T16:18:51" />
    <cfhttpparam type="header" name="tinymce-article-deleted-images" value="" />
    <cfhttpparam type="header" name="file-extension" value="jpg" />
    <cfhttpparam type="header" name="content-length" value="408000" />
    <cfhttpparam type="header" name="cfid" value="" />
    <cfhttpparam type="header" name="cftoken" value="" />
    <cfhttpparam type="header" name="upload-type" value="gallery" />
    <cfhttpparam type="header" name="Content-Type" value="image/jpeg" />
    <cfhttpparam type="body" value="#body#" />
  </cfhttp>
  
  <cfdump var="#result#" />--->
  
  <!---<cfset value = "2728142c-d691-fdcb-94d64691a6178e36">
  #ISNUMERIC(value)#--->
  
  <!---<cfinclude template="functions.cfm">--->
  
  <!---<html>

	<head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
        
        <style>
		.char-number {
			color: red;
		}
        </style>
        
        </head>
		
        <body>
	
          <div id="json">
          
          <pre><code class="json">
  
			<cfscript>
            
              string = '[{"fileUuid":"c3078bee-3e01-4dd4-b2766b28bbe3b1c9","userid":28,"createdAt":"January, 27 2019 13:50:10 +0000","article":"At vero eos et accusamus .","src":"categories/objects/seascape/c3078bee-3e01-4dd4-b2766b28bbe3b1c9.jpeg","tags":"[{\"display\":\"barcelona\",\"value\":\"barcelona\"},{\"display\":\"evening\",\"value\":\"evening\"},{\"display\":\"sand\",\"value\":\"sand\"},{\"display\":\"sea\",\"value\":\"sea\"}]"},{"fileUuid":"034ae7f0-e9dd-4fdf-89cc6cfd2808167f","userid":36,"createdAt":"December, 10 2018 21:34:05 +0000","article":"","size":249874,"category":"mountains","publishArticleDate":"","likes":2,"author":" Juanjors","title":" Nelson Lakes - New Zealand","fileid":33,"description":"Calm","src":"categories/nature/mountains/034AE7F0-E9DD-4FDF-89CC6CFD2808167F.jpeg","tags":""}]';
              
              /*ignoreCommaPosArr = [];
              string = REReplaceNoCase(string,'<[^>]*>','','ALL');
          
              relPos = 1;
              absPos = 0;
              while(relPos != 0){
                relPos = FindNoCase(',',string);
                string = Mid(string,relPos + 1,Len(string)-relPos);
                absPos += relPos;
                ArrayAppend(ignoreCommaPosArr,absPos);
              }
              
              WriteDump(var=ignoreCommaPosArr);*/
              
              //string = '[{"display":"barcelona","value":"barcelona"},{"display":"beach","value":"beach"},{"display":"sea","value":"sea"},{"display":"seagull","value":"seagull"}]';
              
              WriteOutput(formatJSON(string,false));
            
            </cfscript>
            
            </code></pre>
    
    
		</div>
		
	</body>
		
</html>--->


<!---<cfset emailtemplateheaderbackground = getMaterialThemePrimaryColour(theme=request.theme)>

<strong>emailtemplateheaderbackground:</strong> #emailtemplateheaderbackground#<br /><br />

<cfset randomAdminUserID = GetRandomAdminUserID(roleid="6,7")>

<strong>randomAdminUserID:</strong> #randomAdminUserID#<br /><br />

<strong>request.profanityList:</strong> #request.profanityList#<br /><br />

<cfset string = "Hi man, I am testing our new profanity filter">

<cfset hasProfanity = HasProfanity(string=string)>

<strong>hasProfanity:</strong> #hasProfanity#<br /><br />
  
</cfoutput>--->


<!---You could try something like this.
I have added the application scope just to test that each thread is working.

**Important:**

You need to understand that you cannot access the 'thread' scope from outside the thread itself, but you could pass it into a shared scope, like the 'application' or 'session' scope.

When you use the 'run' action, it is a 'set & forget' action, and cannot be accessed from within ColdFusion's main thread. 

**Implementation:**

Access the thread name by passing it in, using the 'attributes' scope, like this:

<cflock name="threadNames" type="exclusive" timeout="30">
  <cfset application.threadNames = {} />
</cflock>

<cfloop from="1" to="10" index="counter" > 
  <cfset variables.threadName = "thread-" & REReplace(CreateUUID(), "[-]", "", "all") />
  <cfthread action="run" name="#variables.threadName#" threadName="#variables.threadName#" counter="#counter#"> 
    <cfset thread.something = attributes.counter />
    <cflock name="threadNames" type="exclusive" timeout="30">
      <cfset application.threadNames[attributes.threadName] = thread.something />
    </cflock>
  </cfthread>
</cfloop>

<cflock name="threadNames" type="readonly" timeout="10">
  <cfset variables.lckThreadName = application.threadNames />
</cflock>

<cfthread action="join" name="#StructKeyList(variables.lckThreadName)#" timeout="6000" />

<cfloop collection="#variables.lckThreadName#" item="key">
  <cfset feedResult = cfthread[key]>
  <cfdump var="#feedResult#" />
</cfloop>

// Clear up after test unless you need to use values elsewhere

<cfset StructDelete(application,"threadNames")>--->








<!---You could try something like this.

**Important:**

When you use the 'run' action, it is a 'set & forget' action. Any thread scoped variables created cannot be accessed externally, unless the thread is joined.
An alternative approach is to create variables in a shared scope, like the 'application' or 'session' scope. Any changes made to a shared scope variable from within a thread can be accessed externally. 

**Implementation:**

Access the thread name by passing it in, using the 'attributes' scope. By storing the thread name within the thread, you can ensure that the thread has executed and will exist, at the time the threads are joined.

<cfset variables.threadNames = {} />

<cfloop from="1" to="10" index="counter" > 
  <cfset variables.threadName = REReplace(CreateUUID(), "[-]", "", "all") />
  <cfthread action="run" name="#variables.threadName#" threadName="#variables.threadName#" counter="#counter#"> 
    <cfset thread.something = attributes.counter />
	<cfset variables.threadNames[attributes.threadName] = thread.something />
  </cfthread>
</cfloop>

<cfthread action="join" name="#StructKeyList(variables.threadNames)#" timeout="6000" />

<cfloop collection="#variables.threadNames#" item="key">
  <cfset variables.thread = cfthread[key]>
  <cfdump var="#variables.thread#" />
</cfloop>--->

<cfoutput>


  <!---<cfset path1 = request.filepath & "\categories">
  
  <cfdirectory action="list" directory="#path1#" name="query1" sort="Directory, Name ASC" type="dir" recurse="yes" />
  
  <cfloop query="query1">
  
    <cfset path2 = query1.Directory & "\" & query1.Name>
  
    <cfdirectory action="list" directory="#path2#" name="query2" type="file" recurse="no" />
    
    <cfif query2.RecordCount>
      <strong>#path2#:</strong> not empty
    <cfelse>
      <strong>#path2#:</strong> empty
    </cfif>
    
    <br /><br />
  
  </cfloop>--->
  
  
  
  
  
  
  <!---<cfset qGetDirPlusId = request.utils.ParseDirectory(path=request.filepath & "/categories")>
    
  <cfset currentObj = request.utils.CleanArray(directories=request.utils.ConvertDirectoryQueryToArray(query=qGetDirPlusId,addEmptyFlag=true),formatWithKeys=true,flattenParentArray=true)>
  
  <cfset newObj = '{"data":[{"path":"//categories","item":"categories","isDeleted":false,"id":"-categories","originalPath":"//categories","empty":0,"children":[{"path":"//categories//objects^0","item":"objects","isDeleted":false,"id":"-categories-objects","originalPath":"//categories//objects^0","empty":0,"children":[{"path":"//categories//objects//architecture^0","item":"architecture","isDeleted":false,"id":"-categories-objects-architecture","originalPath":"//categories//objects//architecture^0","empty":0},{"path":"//categories//objects//landscape^0","item":"landscape","isDeleted":false,"id":"-categories-objects-landscape","originalPath":"//categories//objects//landscape^0","empty":0},{"path":"//categories//objects//metropolis^1","item":"metropolis","isDeleted":false,"id":"-categories-objects-metropolis","originalPath":"//categories//objects//metropolis^1","empty":1},{"path":"//categories//objects//people^1","item":"people","isDeleted":false,"id":"-categories-objects-people","originalPath":"//categories//objects//people^1","empty":1},{"path":"//categories//objects//seascape^0","item":"seascape","isDeleted":false,"id":"-categories-objects-seascape","originalPath":"//categories//objects//seascape^0","empty":0},{"path":"//categories//objects//transport^1","item":"transport","isDeleted":false,"id":"-categories-objects-transport","originalPath":"//categories//objects//transport^1","empty":1}]},{"path":"//categories//otherx^1","item":"otherx","isDeleted":false,"id":"-categories-otherx","originalPath":"//categories//other^1","empty":1,"children":[{"path":"//categories//otherx//cuisine^1","item":"cuisine","isDeleted":false,"id":"-categories-otherx-cuisine","originalPath":"//categories//other//cuisine^1","empty":1},{"path":"//categories//otherx//miscellaneous^1","item":"miscellaneous","isDeleted":false,"id":"-categories-otherx-miscellaneous","originalPath":"//categories//other//miscellaneous^1","empty":1},{"path":"//categories//otherx//nightlife^1","item":"nightlife","isDeleted":false,"id":"-categories-otherx-nightlife","originalPath":"//categories//other//nightlife^1","empty":1},{"path":"//categories//otherx//portrait^1","item":"portrait","isDeleted":false,"id":"-categories-otherx-portrait","originalPath":"//categories//other//portrait^1","empty":1},{"path":"//categories//otherx//religion^1","item":"religion","isDeleted":false,"id":"-categories-otherx-religion","originalPath":"//categories//other//religion^1","empty":1},{"path":"//categories//otherx//sports^1","item":"sports","isDeleted":false,"id":"-categories-otherx-sports","originalPath":"//categories//other//sports^1","empty":1},{"path":"//categories//otherx//technology^1","item":"technology","isDeleted":false,"id":"-categories-otherx-technology","originalPath":"//categories//other//technology^1","empty":1},{"path":"//categories//otherx//war^1","item":"war","isDeleted":false,"id":"-categories-otherx-war","originalPath":"//categories//other//war^1","empty":1}]},{"path":"//categories//carsxxx^1","item":"carsxxx","isDeleted":false,"id":"-categories-carsxxx","originalPath":"//categories//carsxx^1","empty":1,"children":[{"path":"//categories//cars//miscellaneous^1","item":"miscellaneous","isDeleted":false,"id":"-categories-cars-miscellaneous","originalPath":"//categories//cars//miscellaneous^1","empty":1}]},{"path":"//categories//nature^0","item":"nature","isDeleted":false,"id":"-categories-nature","originalPath":"//categories//nature^0","empty":0,"children":[{"path":"//categories//nature//animals^1","item":"animals","isDeleted":false,"id":"-categories-nature-animals","originalPath":"//categories//nature//animals^1","empty":1},{"path":"//categories//nature//cosmology^1","item":"cosmology","isDeleted":false,"id":"-categories-nature-cosmology","originalPath":"//categories//nature//cosmology^1","empty":1},{"path":"//categories//nature//forest^0","item":"forest","isDeleted":false,"id":"-categories-nature-forest","originalPath":"//categories//nature//forest^0","empty":0},{"path":"//categories//nature//mixed^1","item":"mixed","isDeleted":false,"id":"-categories-nature-mixed","originalPath":"//categories//nature//mixed^1","empty":1},{"path":"//categories//nature//mountains^1","item":"mountains","isDeleted":false,"id":"-categories-nature-mountains","originalPath":"//categories//nature//mountains^1","empty":1},{"path":"//categories//nature//plants^1","item":"plants","isDeleted":false,"id":"-categories-nature-plants","originalPath":"//categories//nature//plants^1","empty":1},{"path":"//categories//nature//shoreline^1","item":"shoreline","isDeleted":false,"id":"-categories-nature-shoreline","originalPath":"//categories//nature//shoreline^1","empty":1},{"path":"//categories//nature//weather^1","item":"weather","isDeleted":false,"id":"-categories-nature-weather","originalPath":"//categories//nature//weather^1","empty":1}]}]}]}'>
  
  
  <cfset updateCategories = request.utils.UpdateCategories(currentObj=currentObj,newObj=DeserializeJson(newObj),addEmptyFlag=true,formatWithKeys=true,flattenParentArray=true)>
  
  <cfdump var="#updateCategories#" />--->
  
  
  
  
  
  
  <!---<cfdump var="#request.profanityList#" />--->
  
  <!---<cfset string = "Shit">--->
  
  <!---<cfset string = REReplaceNoCase(string,"[[:punct:]]","","ALL")>
  <cfset array = ListToArray(string," ")>
  
  <cfdump var="#array#" />
  
  <strong>string:</strong> #string#<br /><br />--->

  <!---<cfset hasProfanity = request.utils.HasProfanity(string=string)>
  
  <strong>hasProfanity:</strong> #hasProfanity#<br /><br />--->
  




  <!---<cfset path1 = "C:\ColdFusion11\cfusion\wwwroot\community.establishmindfulness\material\ngMat02\src\assets\cfm\article-images\47\10772cc1-d77d-caa7-784cabf742432526.jpg">
  <cfset path2 = "C:\ColdFusion11\cfusion\wwwroot\establishmindfulness\resources\ai\angular-chat-modal.ai">--->
  
  <!---<cfset path = "C:\domains\community.establishmindfulness.com\wwwroot\assets\images\spinner-black-50.gif">
  <cfset isWebImageFile = request.utils.IsWebImageFile(path=path)>
  <strong>isWebImageFile:</strong> GIF: #isWebImageFile#<br /><br />
  
  <cfset path = "C:\domains\community.establishmindfulness.com\wwwroot\assets\images\test-image-upload.jpg">
  <cfset isWebImageFile = request.utils.IsWebImageFile(path=path)>
  <strong>isWebImageFile:</strong> JPG: #isWebImageFile#<br /><br />
  
  <cfset path = "C:\domains\community.establishmindfulness.com\wwwroot\assets\images\shadow-left.png">
  <cfset isWebImageFile = request.utils.IsWebImageFile(path=path)>
  <strong>isWebImageFile:</strong> PNG: #isWebImageFile#<br /><br />
  
  <cfset path = "C:\domains\community.establishmindfulness.com\wwwroot\assets\images\test-image-upload-1.jpeg">
  <cfset isWebImageFile = request.utils.IsWebImageFile(path=path)>
  <strong>isWebImageFile:</strong> JPEG: #isWebImageFile#<br /><br />
  
  <cfset path = "C:\domains\community.establishmindfulness.com\wwwroot\assets\images\advertising-icon-trimmed.svg">
  <cfset isWebImageFile = request.utils.IsWebImageFile(path=path)>
  <strong>isWebImageFile:</strong> SVG: #isWebImageFile#<br /><br />--->
  
  
  
  <!---<cfset buildSitemap = request.utils.BuildSitemap(writeFile=true,unapproved=true)>
  
  <cfdump var="#buildSitemap#" />--->
  
  
  <!---<cfset data = StructNew()>
  <cfset data['salt'] = request.crptographykey>
  
  <strong>data['salt']:</strong> #data['salt']#<br />
  
  <cfset encryptedstring = request.utils.Encrypts("paulmeek",data['salt'])>
  
  <cfset data['password'] = request.utils.Hashed(encryptedstring,request.lckbcryptlib)>
  
  <strong>data['password']:</strong> #data['password']#<br />--->
  
  
  
  
  
  
  
  
  <!---<CFQUERY NAME="qGetUser" DATASOURCE="#request.domain_dsn#">
    SELECT * 
    FROM tblUser 
    WHERE User_ID = <cfqueryparam cfsqltype="cf_sql_integer" value="28">
  </CFQUERY>
  
  <cfset counter = 105>
  
  <cfif qGetUser.RecordCount>
  
    <cfloop from="1" to="30" index="i">
    
      <cfset counter = Val(counter + i)>
      
      <cfset data = request.utils.GenerateSimulationData()>
      
      <CFQUERY DATASOURCE="#request.domain_dsn#">
        INSERT INTO tblUserArchive (User_ID,Role_ID,Salt,Password,E_mail,Forename,Surname,Cfid,Cftoken,SignUpToken,SignUpValidated,Clientfilename,Filename,Email_notification,Keep_logged_in,Submit_article_notification,Cookie_acceptance,Theme) 
        VALUES (<cfqueryparam cfsqltype="cf_sql_integer" value="#counter#">,<cfqueryparam cfsqltype="cf_sql_integer" value="2">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Salt#" null="#yesNoFormat(NOT len(trim(qGetUser.Salt)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Password#" null="#yesNoFormat(NOT len(trim(qGetUser.Password)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#data.email#" null="#yesNoFormat(NOT len(trim(data.email)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#data.forename#" null="#yesNoFormat(NOT len(trim(data.forename)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#data.surname#" null="#yesNoFormat(NOT len(trim(data.surname)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Cfid#" null="#yesNoFormat(NOT len(trim(qGetUser.Cfid)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Cftoken#" null="#yesNoFormat(NOT len(trim(qGetUser.Cftoken)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.SignUpToken#" null="#yesNoFormat(NOT len(trim(qGetUser.SignUpToken)))#">,<cfqueryparam cfsqltype="cf_sql_tinyint" value="#qGetUser.SignUpValidated#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Clientfilename#" null="#yesNoFormat(NOT len(trim(qGetUser.Clientfilename)))#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Filename#" null="#yesNoFormat(NOT len(trim(qGetUser.Filename)))#">,<cfqueryparam cfsqltype="cf_sql_tinyint" value="#qGetUser.Email_notification#">,<cfqueryparam cfsqltype="cf_sql_tinyint" value="#qGetUser.Keep_logged_in#">,<cfqueryparam cfsqltype="cf_sql_tinyint" value="#qGetUser.Submit_article_notification#">,<cfqueryparam cfsqltype="cf_sql_tinyint" value="#qGetUser.Cookie_acceptance#">,<cfqueryparam cfsqltype="cf_sql_varchar" value="#qGetUser.Theme#" null="#yesNoFormat(NOT len(trim(qGetUser.Theme)))#">)
      </CFQUERY>
      
    </cfloop>
  
  </cfif>--->
  
  
  <!---<CFQUERY NAME="qGetUserArchive" DATASOURCE="#request.domain_dsn#">
    SELECT Surname, Forename ,E_mail, User_ID  
    FROM tblUserArchive 
    ORDER BY Surname ASC
  </CFQUERY>
  
  <cfset data = request.utils.QueryToArray(query=qGetUserArchive)>
  
  <cfdump var="#data#" />--->
  
  
  <!---<cfset task = "suspend">
  
  #DeserializeJson(task)#--->
  
  
<!---<cfset data = []>

<cfloop from="1" to="10" index="i">
  <cfset obj = {}>
  <cfset obj['id'] = i>
  <cfset obj['suspend'] = RandRange(0,1)>
  <cfset ArrayAppend(data,obj)>
</cfloop>

<cfset obj = {users: data, task: 'suspend'}>

<cfset body = {users: obj['users'], task: obj['task']}>
<cfset body = SerializeJson(body)>

<cfdump var="#DeserializeJson(body)#" />--->


<!---<CFQUERY NAME="qGetUser" DATASOURCE="#request.domain_dsn#">
  SELECT tblUser.User_ID, Surname, Forename ,E_mail, Title, Approved, File_ID, DATE_FORMAT(tblFile.Submission_date,"%Y-%m-%d") AS Submission_date 
  FROM tblUser INNER JOIN tblFile ON tblUser.User_ID = tblFile.User_ID
  ORDER BY Surname ASC
</CFQUERY>

<cfdump var="#qGetUser#" />--->



<!---<cfset title = "Hello World">
<cfset title = request.utils.CapFirstAll(title)>

#title#--->












<!---<cfset directory = request.filepath & "\categories">
<cfdirectory action="list" directory="#directory#" name="qGetImages" type="file" recurse="yes" />

<cfif qGetImages.RecordCount>
  <cfloop query="qGetImages">
	<cfif NOT FindNocase(request.imageMediumSuffix,qGetImages.Name)>
      <cfset categoryImagePath = qGetImages.Directory & "\" & qGetImages.Name>
      <cfset categoryImage = ImageRead(categoryImagePath)>
      <cfset ImageResize(categoryImage,request.imageMediumWidth,"")>
      <cfset newCategoryImageName = ListLast(categoryImagePath,"\")>
      <cfset newCategoryImageExt = ListLast(newCategoryImageName,".")>
      <cfset newCategoryImageNameNoExt = ListFirst(newCategoryImageName,".")>
      <cfset newCategoryImagePath = ListDeleteAt(categoryImagePath,ListLen(categoryImagePath,"\"),"\")>
      <cfset newCategoryImagePathName = newCategoryImagePath & "\" & newCategoryImageNameNoExt & "-" & request.imageMediumSuffix & "." & newCategoryImageExt>
      #newCategoryImagePathName#<br />
      <cfimage source="#categoryImage#" action="write" destination="#newCategoryImagePathName#" overwrite="yes" />
    </cfif>
  </cfloop>
</cfif>--->











<!---<cfset directory = request.filepath & "\categories">
<cfdirectory action="list" directory="#directory#" name="qGetImages" type="file" recurse="yes" />

<cfif qGetImages.RecordCount>
  <cfloop query="qGetImages">
    <cfif FindNocase(request.imageMediumSuffix,qGetImages.Name)>
	  <cfset source = qGetImages.Directory & "\" & qGetImages.Name>
      <cflock name="delete_file" type="exclusive" timeout="30">
        <cffile action="delete"  file="#source#" />
      </cflock>
      #source#<br />
	</cfif>
  </cfloop>
</cfif>--->









<!---<cfset imageSystemPath = "C:\Users\Charles Robertson\Desktop\work\avatars">
<cfset imageSystemSecureFilePath = "C:\Users\Charles Robertson\Desktop\work\avatars\kodam-avatar.jpg">

<cfset mediumImageSystemFilePath = imageSystemPath & "\" & ListLast(imageSystemSecureFilePath,"\")>
<cfif FileExists(mediumImageSystemFilePath)>
  <cfset mediumImagePathName = request.utils.createImageCopy(path=mediumImageSystemFilePath,suffix=request.imageMediumSuffix,width=request.imageMediumWidth)>
  #mediumImagePathName#<br />
</cfif>--->













<!---<cfset source = "C:\Users\Charles Robertson\Desktop\work\avatars\kodam-avatar.jpg">
<cfset imageSystemPath = "C:\Users\Charles Robertson\Desktop\images\kodam-avatar.jpg">

<cfset mediumImagePathNameSource = request.utils.getImageCopyName(path=source,suffix=request.imageMediumSuffix)>
<cfset mediumImagePathNameDestination = request.utils.getImageCopyName(path=imageSystemPath,suffix=request.imageMediumSuffix)>
<cfif FileExists(mediumImagePathNameSource)>
  <cflock name="move_file" type="exclusive" timeout="30">
	<cffile action="move" source="#mediumImagePathNameSource#" destination="#mediumImagePathNameDestination#" />
  </cflock>
  #mediumImagePathNameDestination#<br />
</cfif>--->



<!---<cfset taskname = "subscribe">


#Hash(taskname)#


--->



<!---<CFQUERY NAME="qGetFile" DATASOURCE="#request.domain_dsn#">
  SELECT * 
  FROM tblFile 
  WHERE Approved = <cfqueryparam cfsqltype="cf_sql_tinyint" value="1"> 
  ORDER BY Submission_date DESC
</CFQUERY>

<cfif qGetFile.RecordCount AND ( NOT IsDate(qGetFile.Publish_article_date) OR ( IsDate(qGetFile.Publish_article_date) AND DateCompare(Now(),qGetFile.Publish_article_date) EQ 1 )) AND Len(Trim(qGetFile.Article))>
  <cfloop query="qGetFile">
    #qGetFile.File_uuid#<br />
  </cfloop>
</cfif>--->

<!--- Notes: Updated Buddy.Works config for VPS @ 92.205.16.97 on 28.12.2023 --->

<CFQUERY NAME="qGetUser" DATASOURCE="#request.domain_dsn#">
  SELECT COUNT(Approved) AS Approved, Surname, Forename, tblUser.User_ID 
  FROM tblUser INNER JOIN tblFile ON tblUser.User_ID = tblFile.User_ID 
  GROUP BY tblUser.User_ID 
  ORDER BY Approved DESC
  LIMIT 10
</CFQUERY>

<cfloop query="qGetUser">
  <CFQUERY NAME="qGetApprovedCount" DATASOURCE="#request.domain_dsn#">
    SELECT COUNT(Approved) AS Approved  
    FROM tblUser INNER JOIN tblFile ON tblUser.User_ID = tblFile.User_ID 
    WHERE tblUser.User_ID = <cfqueryparam cfsqltype="cf_sql_integer" value="#qGetUser.User_ID#"> AND Approved = <cfqueryparam cfsqltype="cf_sql_tinyint" value="1">
  </CFQUERY>
  <cfdump var="#qGetApprovedCount#" label="qGetApprovedCount" />
  <CFQUERY NAME="qGetFileCount" DATASOURCE="#request.domain_dsn#">
    SELECT * 
    FROM tblFile 
    WHERE User_ID = <cfqueryparam cfsqltype="cf_sql_integer" value="#qGetUser.User_ID#"> 
  </CFQUERY>
  
</cfloop>



</cfoutput>