/* CSS Document */

.mce-content-body {
  font-family: 'Roboto', sans-serif;
  overflow-y: auto !important;
  /*background: #303030;
  color: white;*/
  padding: 22px;
}

.mce-content-body p:nth-of-type(1) {
  margin-top: 0px;
}

blockquote {
  border-left: 10px solid rgb(229, 229, 229);
  padding-left: 20px;
  margin-left: 0px;
}

div.tinymce-divider-plugin {
  margin: 20px 0px;
  text-align: center;
}

div.tinymce-divider-after-plugin {
  height: 36px;
  margin: 20px 0px;
  text-align: center;
  line-height: 0px;
  font-size: 64px;
  color: rgb(229,229,229);
}

div.tinymce-divider-after-plugin:after {
  content: "...";
}

img {
  width: 100%;
  height: initial;
  margin: 20px 0px;
}

.mce-notification-custom {
    position: absolute;
	width: 90%;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
    background-color: #fff;
    padding:10px 40px 10px 10px !important;
    border-width: 1px;
	border-style: solid;
	border-color: #c5c5c5;
    transition: transform 100ms ease-in,opacity 150ms ease-in;
    opacity: 0;
    box-sizing: border-box;
}

.mce-notification-warning-custom {
    background-color: #fcf8e3 !important;
    border-color: #faebcc;
}

.mce-notification-inner-custom{
	display: inline-block;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	font-size: 14px;
	margin: 5px 8px 4px 8px;
	text-align: center;
	white-space: normal;
	color: #31708f;
}

.mce-close-custom {
    position: absolute;
    top: 13px;
    right: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #9b9b9b;
	border: none;
	background: none;
    cursor: pointer;
	opacity: 0;
}